.md-root * {
  max-width: 100% !important;
  overflow-wrap: anywhere !important;
  word-break: break-word !important;
  white-space: normal !important;
}

.md-root pre {
  white-space: pre-wrap !important;
  word-break: break-word !important;
}

.md-root code {
  white-space: break-spaces !important;
}
