/* StreamingText.css */
.streaming-text {
  position: relative;
  font-size: 12px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
}

.fade-in-text {
  animation: fadeIn 0.3s ease-in forwards;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1.2em;
  background-color: currentColor;
  margin-left: 2px;
  vertical-align: middle;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
